/* Estilos de input y select */
input::placeholder, select::placeholder {
    font-family: 'Montserrat';
    font-weight: 900;
}

.form-section-bg{
    display: block;
    min-height: 832px;
}
.my-container-bg{
  background-image: url('./content/bg.png');
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir toda el área */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  text-align: center;
}

/* Estilos del formulario */
.container-data {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
}

.container-data h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin-bottom: 20px;
}

.container-data label {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 10px 0 5px;
}

.container-data input[type="email"], 
.container-data input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
}

.container-data button {
    width: 100%;
    padding: 10px;
    background-color: #7F5B41;
    color: #FBF7F2;
    border: none;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.container-data button:hover {
    background-color: #B2987E;
}

.my-container-bg{
    background-image: url('../content/bg.png');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir toda el área */
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    text-align: center;
    background-attachment: fixed; /* Añade esta línea para el efecto parallax */

  }


  

  label {
    display: block;
}
   

#progress-container {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 25px;
}

#progress-bar {
    width: 0%;
    height: 15px;
    background-color: #4caf50;
    
    text-align: center;
    line-height: 15px;
    color: white;
    transition: width 0.4s;
}


.info-box {
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.payment-icons i {
    font-size: 24px;
    color: white;
    margin-right: 10px;
}


 .password-container {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 70%;
margin-left: 20px;
}

.password-container input {
    width: 100%;
    padding-right: 30px; /* Espacio para el icono del ojo */
}

.password-container i {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #B2987E; /* Marrón claro */
    top: 11px;

}

.option-container {
    display: flex ;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}
#onlineOptions{
    margin-left: 32%;
}



.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.option i {
    font-size: 50px;
    color: white;
}

.option p {
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

.option:hover {
    background-color: #f0f0f0;
}

.option.selected {
    border-color: #7F5B41;
    background-color: #B2987E;
}