.my-button-reservas-2{
    display: block;
    width: 70%;
    padding: 6px;
    margin-top: 20px;
    background-color: #7F5B41;
    color: #FBF7F2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;

}

.my-button-reservas {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #7F5B41;
    color: #FBF7F2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.my-button-reservas:hover {
    background-color: #6c4d38;
}

.checkbox-container {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 10px;
    width: 10px;
}

.checkbox-container label {
    font-size: 14px;
    display: block;
}


.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    position: relative;
}

.fecha-container {
    margin-bottom: 20px;
}

.fecha {
    font-weight: bold;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    max-width: 120px;
}

.fecha-container {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.fecha-container:last-child {
    border-bottom: none;
    margin-bottom: 0;
}


.color-ajuste, #user_name, .color-correction, #errorText, #sameDayErrorText , #dateErrorText, #confirmationText{
    color: black !important;
}
/* 
#reservaPopup {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: white;
    transition: bottom 0.3s;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.2);
} */
#errorModal, #confirmationModal, #reservaPopup, #reagendarPopup {
    z-index: 99999;
}
#calendario {
    max-width: 60vw;
    max-height: 60vh;
}
.selected-date {
    background-color: #ffcc00; /* Color de fondo para la fecha seleccionada */
}
#horariosSlidebar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s;
    z-index: 10000;
    padding: 20px;
}
#horariosSlidebar h2 {
    margin-top: 0;
}
#horariosSlidebar button {
    margin-top: 20px;
}
#reagendarPopup .fecha-container {
display: flex;
flex-direction: column;
margin-bottom: 10px;
padding: 10px;
border-bottom: 1px solid #ccc;
}

#reagendarPopup .fecha-container > * {
margin-bottom: 5px;
}

#reagendarPopup .fecha-container button {
width: 100px;
padding: 5px;
font-size: 14px;
cursor: pointer;
}

#reagendarPopup .fecha-container div {
display: flex;
justify-content: space-between;
align-items: center;
}

.fecha {
font-weight: bold;
}

#profile_container {
display: flex;
align-items: center;
margin-top: 10px;
}

#profile_picture {
    width: 50px; /* Ajusta el ancho según tus necesidades */
    height: 50px; /* Ajusta la altura según tus necesidades */
    object-fit: cover; /* Esto asegura que la imagen cubra el área del contenedor sin distorsionarse */
    border-radius: 50%; /* Hace que la imagen sea circular */
}

.profile-picture-container {
    width: 100px; /* Ajusta el ancho según tus necesidades */
    height: 100px; /* Ajusta la altura según tus necesidades */
    background-size: cover; /* Ajusta la imagen de fondo para que cubra el contenedor */
    background-position: center; /* Centra la imagen de fondo */
    border-radius: 50%; /* Hace que el contenedor sea circular */
    overflow: hidden; /* Asegura que la imagen no se desborde del contenedor */
}

#logout {
color: blue;
text-decoration: underline;
cursor: pointer;
}
@media only screen and (max-width: 600px) {
    #user_name{
        font-size: 18px !important;
        font-weight: 400 !important;
    line-height: 30px !important;
    }

    /* Estilos para el contenido del acordeón */
.toggle-header {
    cursor: pointer;
    padding: 10px;
    background-color: #7F5B41;
    color: #FBF7F2;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
    border-radius: 5px;
    border: none !important;
}

.toggle-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.toggle-content.active {
    max-height: 1000px; /* Ajusta este valor según sea necesario */
    transition: max-height 0.5s ease-in;
}

.fc .fc-toolbar-title{
    font-size: 20px !important;
}
.fc{
    font-size: 10px !important;
}


/* Estilos para el popup centrado */
.popup {
    display: none;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
    width: 80%;
    max-width: 800px;
    max-height: 80vh;
    overflow-y: auto;
    transition: all 0.5s ease-in-out;
}


.popup.active {
    display: block;
}

.popup-content {
    max-height: 80vh;
}

/* #reservaPopup {
    display: none;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
    width: 100%;
    max-width: 400px;
    top:45%;
} */

#reservaPopup.active {
    display: block;
}
#calendario{
    max-width: 90vw;
}

/* Estilos para el contenedor del calendario */
.calendar-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

/* Estilos específicos para FullCalendar */
.fc {
    width: 100%;
    max-width: 100%;
}

.fc-toolbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.fc-button {
    background-color: #7F5B41;
    border: none;
    color: #FBF7F2;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.fc-button:hover {
    background-color: #6C4A31;
}

.fc-button:focus {
    outline: none;
    box-shadow: none;
}

.fc-button-group .fc-button {
    margin: 0;
}

.fc .fc-toolbar-title {
    font-size: 1.5em;
    color: #14110F;
}

.fc-daygrid-day-number {
    color: #14110F;
}

.fc-daygrid-day {
    background-color: #FBF7F2;
}

.fc-day-today {
    background-color: #EAEAEA !important;
}

.fc-daygrid-day.fc-day-past {
    background-color: #F5F5F5;
    color: #BEBEBE;
}

.fc-col-header-cell-cushion {
    font-size: 1em;
    color: #14110F;
}

.fc-scrollgrid {
    border: none;
}


.container-data{
    display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-end;
}

.margin-ajuste{
    margin: 0px;
}
}

.navbar{
    margin-left: 0 !important;
}

.my-container-bg{
    margin-left: 35px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 30px;
}

.fc-daygrid-day.cupos-disponibles {
    background-color: #90EE90 ; /* Verde */
}

.fc-daygrid-day.sin-cupos {
    background-color: #FF6347 ; /* Rojo */
}

.fc-daygrid-day.sin-actividades {
    background-color: #D3D3D3 ; /* Gris */
}

#calendar-legend {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.legend-color {
    width: 20px;
    height: 15px;
    display: inline-block;
}

.legend-color.cupos-disponibles {
    background-color: #d4edda; /* Verde */
}

.legend-color.sin-actividades {
    background-color: #D3D3D3; /* Gris */
}


/* Estilos para pantallas grandes */
@media only screen and (min-width: 601px) {
    .popup.desktop-popup {
        display: none;
    }

    .desktop-popup.active {
        display: block;
        position: fixed;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -20%);
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 2;
        width: 40%;
        max-width: 600px;
        max-height: 80vh; /* Ajusta la altura máxima */
        overflow-y: auto; /* Habilita el desplazamiento vertical */
    }

    .popup-content {
        max-height: 80vh;
    }
    .modal-content--oculto{
        display: none;
    }
}




#informacion_extra{
    position: absolute;
    top: 80px;
}


/* Estilos para las tarjetas de clases */
.card {
    background-color: #FBF7F2; /* Blanco de la marca */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    padding: 15px;
    transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #7F5B41; /* Color principal de la marca */
}

.card-body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #14110F; /* Negro de la marca */
}

.card-footer {
    text-align: right;
    margin-top: 10px;
}

.my-button-reservas-2 {
    background-color: #7F5B41; /* Color principal de la marca */
    color: #FBF7F2; /* Blanco de la marca */
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.my-button-reservas-2:hover {
    background-color: #B2987E; /* Marrón de la marca */
}

.ajustes-slo{
    max-width: 50% !important;
}

#calendario > div.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr > div:nth-child(1) > div > button.fc-prev-button.fc-button.fc-button-primary{
    background-color: #6C4A31 !important;
}
#calendario > div.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr > div:nth-child(1) > div > button.fc-next-button.fc-button.fc-button-primary{background-color: #6C4A31;}



.fc-daygrid-day.cupos-disponibles {
    background-color: #d4edda; /* Verde claro */
    color: #155724; /* Texto verde oscuro */
}

.fc-daygrid-day.sin-cupos {
    background-color: #f8d7da; /* Rojo claro */
    color: #721c24; /* Texto rojo oscuro */
}

#confirmacionReagendarPopup, #exitoReagendarPopup{
    z-index: 999999;
}


.clase-agendada {
background-color: #cce5ff; /* Azul claro */
color: #004085; /* Texto azul oscuro */
}